.footer {
  padding-top: 150px;
  max-width: 957px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }
}

.footer__address {
  text-align: center;
}

.footer__address h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.footer__address p {
  display: block;
  margin: 30px auto 42px;
  max-width: 57%;
  font-size: 17px;
  line-height: 31px;

  @media (max-width: $tablet-width) {
    max-width: 95%;
    margin: 20px auto 22px;
  }

  @media (max-width: $mobile-width) {
    max-width: 80%;
    margin-bottom: 25px;
  }
}

.footer__map {
  position: relative;
  width: 957px;
  height: 530px;

  @media (max-width: $tablet-width) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 250px;
  }
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: space-between;
  margin: 38px 22% 98px 20%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    max-width: 79%;
    margin: 18px 10% 53px;
    column-gap: 40px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    justify-content: center;
    margin: 26px auto 28px;
  }
}

.footer a {
  display: block;
  text-decoration: none;
  color: $contact-text;
  margin-bottom: 22px
}

.footer a:hover {
  color: $color-acent-00;
}

.footer svg {
  vertical-align: middle;
  margin-right: 12px;
  fill: $color-acent-00;
}
