.main-header {
  padding-bottom: 240px;
  background-color: $color-black-00;
  color: $color-white-00;
  background-image: image-set(url("../img/header/hb-desktop@1x.jpg") 2x, url("../img/header/hb-desktop@2x.jpg") 1x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  @media (max-width: $tablet-width) {
    display: grid;
    padding-bottom: 0;
    background-image: image-set(url("../img/header/hb-tablet@1x.jpg") 2x, url("../img/header/hb-tablet@2x.jpg") 1x);
    width: 100%;
  }
}

.main-header__wrapper {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $tablet-width) {
  display: contents;
  }
}

.main-header__nav {
  display: flex;
  opacity: 0.7;
  border-bottom: 1px solid $lines;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.main-header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 880px;
  margin-top: 256px;
}

.main-header__text {
  max-width: 44%;
}

.main-header__text h1 {
  font-weight: 700;
  line-height: 64px;
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.main-header__text p {
  opacity: 0.8;
  font-weight: 300;
  margin: 0;
}

.main-header__form {
  max-width: 327px;
}
