.main-header {
  padding-bottom: 240px;
  background-color: $color-black-00;
  color: $color-white-00;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    padding-bottom: 0;
    background-color: $color-white-00;
    min-height: 683px;
    background-image: none;

  }

  @media (max-width: $mobile-width) {
    min-height:  750px;
    grid-template-rows: 52% 48%;
  }
}

.js .main-header {
  background-image:  image-set(url("../img/header/hb-desktop@1x.webp") 2x, url("../img/header/hb-desktop@2x.webp") 1x);
  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.no-js .main-header {
  background-image: image-set(url("../img/header/hb-desktop@1x.jpg") 2x, url("../img/header/hb-desktop@2x.jpg") 1x);
  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.main-header::before {
  @media (max-width: $tablet-width) {
    content: " ";
    background-color: $color-black-00;
    background-image: image-set(url("../img/header/hb-tablet@1x.jpg") 2x, url("../img/header/hb-tablet@2x.jpg") 1x);
    display: block;
    position: static;
    width: 100%;
    min-height: 340px;
    grid-row: 1;
    grid-column: -1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  @media (max-width: $mobile-width) {
    background-image: image-set(url("../img/header/hb-mobile@1x.jpg") 2x, url("../img/header/hb-mobile@2x.jpg") 1x);
    min-height: 390px;
  }
}

.main-header__wrapper {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
  display: contents;
  }
}

.main-header__nav {
  display: flex;
  opacity: 0.7;
  border-bottom: 1px solid $lines;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.main-header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 880px;
  margin-top: 250px;

  @media (max-width: $tablet-width) {
  display: contents;
  }
}

.main-header__text {
  max-width: 44%;

  @media (max-width: $tablet-width) {
    max-width: 60%;
    justify-content: center;
    justify-self: center;
    grid-row: 1;
    grid-column: -1/1;
  }

  @media (max-width: $mobile-width) {
    max-width: 90%;
  }
}

.main-header__text h1 {
  font-weight: 700;
  line-height: 64px;
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    margin-top: 134px;
    margin-bottom: 21px;
    line-height: 42px;
    font-size: 30px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-top: 120px;
  }
}

.main-header__text p {
  opacity: 0.8;
  font-weight: 300;
  margin: 0;
  line-height: 32px;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.main-header__form {
  max-width: 327px;

  @media (max-width: $tablet-width) {
    grid-row: 2/3;
    max-width: 42%;
  }

  @media (max-width: $mobile-width) {
    max-width: 90%;
  }
}

.main-header__logo {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
