.video {
  padding-top: 95px;
  background: linear-gradient(180deg, $color-black-100 88%, $color-white-00 88%);
  color: $color-white-00;
  text-align: center;

  @media (max-width: $tablet-width) {
  padding-top: 55px;
  background: linear-gradient(180deg, $color-black-100 83%, $color-white-00 83%);
  }

  @media (max-width: $mobile-width) {
    padding-top: 67px;
    background: linear-gradient(180deg, $color-black-100 88%, $color-white-00 88%);
  }
}

.video h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}

.video p {
  display: block;
  max-width: 25%;
  margin: 20px auto 57px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;

  @media (max-width: $tablet-width) {
    max-width: 56%;
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-width) {
    max-width: 92%;
    margin-bottom: 55px;
  }
}

.video img {
  max-width: 81%;

  @media (max-width: $tablet-width) {
    max-width: 65%;
  }

  @media (max-width: $mobile-width) {
    max-width: 90%;
  }
}

.video button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: transparent;
  width: 65px;
  height: 65px;
  padding: 0;
  left: calc(50% - 32px);
  top: calc(50% - 32px);

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
  }
}

.video button:hover {
  transform: scale(1.2);
}

.video svg {
  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }
}

.video__container {
  position: relative;
}
