$font-family: "Open Sans", "Arial", sans-serif;

// Breakpoints
$tablet-width: 1023px;
$mobile-width: 766px;

//color-text

$color-white-00: #ffffff;
$color-black-00: #000000;
$color-grey-700: #48494D;
$contact-text: rgba(0, 0, 0, 0.5);

//acent
$color-acent-00:#0AD9C6 ;
$color-background: #F6F7F9;
$color-background-01: #F6F6F6;
$lines: rgba(255,255,255, 0.2);
$border: #C9CCD4;

